<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.aarcs.mappers.db.UserDbMapper">
    <insert id="insert" parameterType="com.app.aarcs.model.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        Insert into users(username, phone, mail, password) values(#{username}, #{phone}, #{mail}, #{password})
    </insert>

    <select id="login" parameterType="com.app.aarcs.model.User" resultType="com.app.aarcs.model.User">
        Select id, password from users where phone = #{phone} or mail = #{mail}
    </select>
</mapper>